/*
------------------------------
this is the css to set up the defaults for the project like media breakpoints, colors, etc
------------------------------
*/

@import '../node_modules/sass-mq/mq';


// define breakpoints
$mq-breakpoints: (
    mobile:  320px,
    mobileLandscape: 480px,
    tablet:  740px,
    desktop: 980px,
    leftCol: 1140px,
    wide:    1300px,
);


// define colors
$main-bg: #fff;
$text-color: #333;
$navbar-bg: #dcdcdc;
